<div class="text-secondary px-5 py-5 text-center div_principal">
    <div class="py-5">
        <img (click)="login()" class="logo" src="../../../../../assets/imagenes/logo.png">
      <h1 class="display-5 fw-bold text-white">Bienvenido/a! somos ClinicaOnline</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Facilitamos a nuestros pacientes una forma muy agil y comoda de sacar turnos, y a nuestros especialistas una forma mas comoda de trabjar.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button (click)="login()" type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold btn_bienvenida">Ingresar</button>
          <button (click)="register()" type="button" class="btn btn-outline-light btn-lg px-4 btn_bienvenida">Registrarce</button>
        </div>
      </div>
    </div>
  </div>
