<div class="card text-center">

    <ngx-spinner bdColor = "rgb(128,237,153)" size = "large" color = "#0f2636" type = "ball-scale-multiple" [fullScreen] = "true"><img style="width: 20rem;border-radius: 100px;" src="../../../assets/imagenes/gifLatido.gif"></ngx-spinner>

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link " (click)="ChangeToSelectTurno()"   [ngClass]="(selectTurnos == true)? 'active' : '' ">Turnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " (click)="ChangeToSelectEspecialdiad()"  [ngClass]="(selectEspecialidad == true)? 'active' : '' " >Especialidad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " (click)="ChangeToSelectPaciente()"  [ngClass]="(selectPaciente == true)? 'active' : '' " >Paciente</a>
            </li>
        </ul>
    </div>

    <div *ngIf="selectTurnos" class="card-body text-center">
        <button (click)="Reset()" class="rounded-pill btn btn-light border border-black" style="width: 10rem;height: 1.5rem;margin-bottom: 1rem;">
            <svg style="margin-bottom: 2rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
              </svg>
        </button>


        <div  *ngIf="selectTurnos" class="card text-center">
    
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                  </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <h4>Turnos</h4>
                <div class="container text-center div-tabla-t">
                    <div class="row align-items-start tabla-titulo">
                        <div class="col  border-col">
                            fecha del Turno
                        </div>
                        <div class="col  border-col">
                            Estado
                        </div>
                        <div class="col  border-col">
                            Dia solicitado
                        </div>
                        <div class="col  border-col">
                            Especialidad
                        </div>
                        <div class="col  border-col">
                            Especialista
                        </div>
                        <div class="col  border-col">
                            Paciente
                        </div>
                        <div class="col  border-col">
                            
                        </div>
                    </div>
        
                    <div class="row align-items-start tabla-content" *ngFor="let t of turnos">
                        <div *ngIf="!t.cancelado" class="col border-col">
                            {{t.anio}}-{{t.mes}}-{{t.dia}} {{t.horarioInicio}} 
                        </div>
                        <div *ngIf="t.finalizado" class="col border-col">
                            Finalizado
                        </div>
                        <div *ngIf="t.aceptado === false && t.cancelado === false && t.finalizado === false" class="col border-col">
                            Solicitado
                        </div>
                        <div *ngIf="t.aceptado === true && t.cancelado === false && t.finalizado === false" class="col border-col">
                            Tomado
                        </div>
                        <div *ngIf="!t.cancelado" class="col border-col">
                            {{t.diaDeSolicitud | date : 'dd/MM/yyyy'}}
                        </div>
                        <div *ngIf="!t.cancelado" class="col border-col">
                            {{t.especialidad}}
                        </div>
                        <div *ngIf="!t.cancelado" class="col border-col">
                            {{t.especialista?.nombre}} {{t.especialista?.apellido}}
                        </div>
                        <div *ngIf="!t.cancelado" class="col border-col">
                            {{t.paciente?.nombre}} {{t.paciente?.apellido}}
                        </div>
                        <div class="col border-col" >
                            <button style="background-color: #5af17e;" *ngIf="t.aceptado === false && t.cancelado === false && t.finalizado === false" (click)="AceptarTurno(t)"  class="btn-select-t">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16"  style="margin-bottom: 0.2rem">
                                   <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                                   <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                   <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>                                  </svg>
                            </button>
                            <button  style="background-color: #5a9ef1;"  *ngIf="t.aceptado === true && t.cancelado === false && t.finalizado === false" (click)="SelectTurno(t,'Finalizar')"  class="btn-select-t">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16"  style="margin-bottom: 0.2rem">
                                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    </svg>
                            </button>
                            <button  style="background-color: #eadb50;"   *ngIf="t.aceptado === false && t.cancelado === false && t.finalizado === false" (click)="SelectTurno(t,'Rechazar')"  class="btn-select-t">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16"  style="margin-bottom: 0.2rem">
                                    <path fill-rule="evenodd" d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>                                  </svg>
                            </button>
                            <button  style="background-color: #fd5555;"  *ngIf="t.aceptado === true && t.cancelado === false && t.finalizado === false" (click)="SelectTurno(t,'Cancelar')" class="btn-select-t">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16"  style="margin-bottom: 0.2rem">
                                    <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                  </svg>                                 
                             </button>
                             <button  style="background-color: #f95d8c;"  *ngIf="t.finalizado" (click)="SelectTurno(t,'Resenia')"  class="btn-select-t">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16"  style="margin-bottom: 0.2rem">
                                    <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Zm6.979 3.856a.5.5 0 0 0-.968.04L7.92 10.49l-.94-3.135a.5.5 0 0 0-.895-.133L4.232 10H3.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 .416-.223l1.41-2.115 1.195 3.982a.5.5 0 0 0 .968-.04L9.58 7.51l.94 3.135A.5.5 0 0 0 11 11h1.5a.5.5 0 0 0 0-1h-1.128L9.979 5.356Z"/>                                  </svg>
                             </button>
                        </div>
                    </div>
                </div>
                <div >
                    <div style="margin-top: 0rem;" class="card-group">
                        <div class="card">
                            <svg style="margin-left: auto;margin-right: auto;margin-top:1.5rem;" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-clipboard2-fill" viewBox="0 0 16 16">
                                <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                                <path d="M3.5 1h.585A1.498 1.498 0 0 0 4 1.5V2a1.5 1.5 0 0 0 1.5 1.5h5A1.5 1.5 0 0 0 12 2v-.5c0-.175-.03-.344-.085-.5h.585A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1Z"/>
                              </svg>
                          <div class="card-body">
                            <h5 class="card-title">{{turno.mes}}/{{turno.dia}} - {{turno.horarioInicio}}</h5>
                          </div>
                        </div>
                        <div class="card">
                          <img src="{{fotoEsp}}" style="width: 5rem;margin-left: auto;margin-right: auto;" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{espNombre}}</h5>
                          </div>
                        </div>
                        <div class="card">
                          <img src="{{fotoPa}}" style="width: 5rem;margin-left: auto;margin-right: auto;" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{paNombreApellido}}</h5>
                          </div>
                        </div>
                      </div>

                     <div  *ngIf="rechazar">
                        <div class="mb-3">
                           <label for="exampleFormControlTextarea1" class="form-label">Motivo de Rechazo</label>
                           <textarea  [(ngModel)]="motivo" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button (click)="CancerlarTurno()" class="btn-acc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16"  style="margin-bottom: 0.2rem">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                       </button>
                   </div>

                      <div  *ngIf="finalizar">
                         <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Diagnostico/Reseña</label>
                            <textarea  [(ngModel)]="motivo" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                         </div>
                         <button (click)="FinalizarTurno()" class="btn-acc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                              </svg>
                        </button>
                    </div>

                    <div  *ngIf="cancelar">
                        <div class="mb-3">
                           <label for="exampleFormControlTextarea1" class="form-label">Motivo de Cancelacion</label>
                           <textarea  [(ngModel)]="motivo" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button (click)="CancerlarTurno()" class="btn-acc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16"  style="margin-bottom: 0.2rem">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                       </button>
                   </div>

                   <div *ngIf="resenia" class="row" style="margin-top: 0.5rem;">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Reseña Profecional</h5>
                          <p class="card-text">{{turno.resenia}}</p>
                          <p>Finalizado el {{turno.diaDeFinalizacion | date : 'yyyy/MM/dd'}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Comentario Paciente y Calificacion</h5>
                          <p *ngIf="turno.resultadoEncuesta !== '' " class="card-text">Encuesta : {{turno.resultadoEncuesta}}</p>
                          <p *ngIf="turno.calificacionAtencion !== '' " class="card-text">Calificacion/Comentario : {{turno.calificacionAtencion}}</p>
                          <p *ngIf="turno.resultadoEncuesta === '' " class="card-text">Sin Encuesta</p>
                          <p *ngIf="turno.calificacionAtencion === '' " class="card-text">No Calificado</p>
                        </div>
                      </div>
                    </div>
                  </div>

                    
                </div>
            </div>

        </div>

        <div *ngIf="selectEspecialidad" class="card-body text-center">
            <h4>Seleccione Especialidad</h4>
            <div class="list-group ">
                <div class="list-group-item" *ngFor="let esp of especialidades">
                    <p style="font-weight: bolder;">{{esp.especialidad}}</p>
                    <button (click)="SelectEspecialdiad(esp.especialidad)"  class="btn-select-esp  rounded-1">
                        <img style="width: 6rem;height: 6rem;" src="{{esp.foto}}">
                    </button>
                </div>
            </div>
        </div>
    
        <div *ngIf="selectPaciente" class="card-body text-center">
            <h4>Seleccione Paciente</h4>
            <div *ngIf="selectPaciente" class="card-body text-center">
                <button (click)="SelectPaciente(pa)" *ngFor="let pa of pacientes"  class="btn-select-espe rounded-1">
                    <img style="width: 6rem;height: 6rem;" src="{{pa.fotos[0].path}}">
                </button>
           </div>
            
        </div>

</div>
