

<div id="div_login">
    <img (click)="bienvenida()" class="logo mb-4" src="../../../../../assets/imagenes/logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h1>
    <form class="form-signin">
        <label class="sr-only">Email</label>
        <input name="email" type="email" [(ngModel)]="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus >
        <label class="sr-only">Contraseña</label>
        <input name="contrasenia" type="password" [(ngModel)]="contrasenia" id="inputPassword" class="form-control" placeholder="Contraseña" >
        <button (click)="LogIn()" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold btn_login btn_form" type="submit">Ingresar</button>
        <button (click)="register()" class="btn btn-lg btn-outline-light btn-block btn_form" type="submit">Registrarme</button>
        <button (click)="desplegarUsiarios()" class="btn btn-lg btn-primary btn-block btn_form btn_users">Desplegar usuarios</button>
    </form>
</div>
<button *ngIf="usuarios" (click)="admin()" style="margin-left: 18%;" class="bt_user rounded-circle btn  me-sm-3 fw-bold " ><img class="img_user rounded-circle" src="{{urlAdm}}"></button>
<button *ngIf="usuarios" (click)="especialista()" class="bt_user rounded-circle btn  me-sm-3 fw-bold " ><img class="img_user rounded-circle" src="{{urlEsp}}"></button>
<button *ngIf="usuarios" (click)="especialista2()" class="bt_user rounded-circle btn  me-sm-3 fw-bold " ><img class="img_user rounded-circle" src="../../../../../assets/imagenes/especialista.png"></button>
<button *ngIf="usuarios" (click)="paciente()" class="bt_user  rounded-circle btn  me-sm-3 fw-bold " ><img class="img_user rounded-circle" src="{{urlPa}}"></button>
<button *ngIf="usuarios" (click)="paciente2()" class="bt_user  rounded-circle btn  me-sm-3 fw-bold " ><img class="img_user rounded-circle" src="../../../../../assets/imagenes/paciente.png"></button>
<button *ngIf="usuarios" (click)="paciente2()" class="bt_user  rounded-circle btn  me-sm-3 fw-bold " ><img class="img_user rounded-circle" src="../../../../../assets/imagenes/paciente.png"></button>