
<div *ngIf="selectPaciente" class="card-body text-center">

    <h4>Seleccione Paciente</h4>
   <div>
    <button *ngFor="let pa of this.pacientes" (click)="SelectPaciente(pa)"  class="btn-select-p rounded-1">
        <img style="width: 8rem;height: 8rem;" src="{{pa.fotos[0].path}}">
        <p>{{pa.nombre}} {{pa.apellido}}</p>
    </button>
   </div>
</div>

<div *ngIf="!selectPaciente" class="card" style="width: 100%;">
    <img style="width: 15rem; margin-left: 42.5%;margin-right: auto;" src="{{paciente.fotos[0].path}}" class="card-img-center " alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">{{paciente.nombre | uppercase  }} {{paciente.apellido  | uppercase }}</h5>
      <h4 *ngIf="verHistorias" class="card-title text-center">Historias Clinicas</h4>
    </div >
    <div *ngIf="verHistorias" class="container text-center div-tabla-t" style="overflow: scroll; width: 100%;height: 10rem;">
        <div class="row align-items-start tabla-titulo">
            <div class="col  border-col">
               Historia Clinica Emitida
            </div>
        </div>

        <div class="row align-items-start tabla-content" *ngFor="let hc of historiaClinicaPaciente">
            <div class="col border-col" >
                <button (click)="SelectHistoria(hc)"  class="btn-select-t">
                    {{hc.fechaDeCreacion | date : "yyyy/MM/dd"}}
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="verHistoria" class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Historia CLinica del {{historiaClinica.fechaDeCreacion | date : 'yyyy/MM/dd'}} Referida al turno del {{historiaClinica.turno}}</h5>
          <p class="card-text">Altura {{historiaClinica.altura}} cm</p>
          <p class="card-text">Peso {{historiaClinica.peso}} kg</p>
          <p class="card-text">Temperatura {{historiaClinica.temperatura}} C°</p>
          <p class="card-text">Presión arterial sistólica {{historiaClinica.presion}}</p>
          <hr>
          <h6 class="card-title">Diagnostico</h6>
          <p class="card-text">{{historiaClinica.diagnostico.clave}} {{historiaClinica.diagnostico.valor}}</p>
        </div>
        <div class="card-footer">
        </div>
    </div>

  </div>



    

