
<div *ngIf="selectPaciente" class="card-body text-center">
    <h4>Seleccione Paciente</h4>
   <div>
    <button *ngFor="let pa of this.pacientes" (click)="SelectPaciente(pa)"  class="btn-select-p rounded-1">
        <img style="width: 8rem;height: 8rem;" src="{{pa.fotos[0].path}}">
        <p>{{pa.nombre}} {{pa.apellido}}</p>
    </button>
   </div>
</div>

<div *ngIf="!selectPaciente" class="card" style="width: 100%;">
    <img style="width: 15rem; margin-left: 42.5%;margin-right: auto;" src="{{paciente.fotos[0].path}}" class="card-img-center " alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">{{paciente.nombre | uppercase  }} {{paciente.apellido  | uppercase }}</h5>
      <h4 *ngIf="verHistorias" class="card-title text-center">Historias Clinicas</h4>
    </div >
    <div *ngIf="verHistorias" class="container text-center div-tabla-t" style="overflow: scroll; width: 100%;height: 10rem;">
        <div class="row align-items-start tabla-titulo">
            <div class="col  border-col">
               Historia Clinica Emitida
            </div>
        </div>

        <div class="row align-items-start tabla-content" *ngFor="let hc of historiaClinicaPaciente">
            <div class="col border-col" >
                <button (click)="SelectHistoria(hc)"  class="btn-select-t">
                    {{hc.fechaDeCreacion | date : "yyyy/MM/dd"}}
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="verHistoria" class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Historia CLinica del {{historiaClinica.fechaDeCreacion | date : 'yyyy/MM/dd'}}</h5>
          <p class="card-text">Altura {{historiaClinica.altura}} cm</p>
          <p class="card-text">Peso {{historiaClinica.peso}} kg</p>
          <p class="card-text">Temperatura {{historiaClinica.temperatura}} C°</p>
          <p class="card-text">Presión arterial sistólica {{historiaClinica.presion}}</p>
          <hr>
          <h6 class="card-title">Diagnostico</h6>
          <p class="card-text">{{historiaClinica.diagnostico.clave}} {{historiaClinica.diagnostico.valor}}</p>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <div *ngIf="verHistorias" class="card-body">
        <button (click)="AgregarHC()" class="btn btn-agregar-hc">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
              </svg>
        </button>
    </div>
  </div>


<div *ngIf="agregarH" class="card text-center">
    <div class="card-header">
      Agregar Historia Clinica
    </div>
    <div class="card-body">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Altura</span>
            <input name="altura" [(ngModel)]="altura" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm">Peso</span>
            <input  name="peso" [(ngModel)]="peso" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm">Temperatura</span>
            <input  name="temperatura" [(ngModel)]="temperatura" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm">Presion</span>
            <input  name="presion" [(ngModel)]="presion" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <h6 class="text-center">Diagnostico</h6>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Clave</span>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
            <ul class="dropdown-menu">
              <li *ngFor="let clave of claves" ><a class="dropdown-item" (click)="SetClave(clave)">{{clave}}</a></li>
            </ul>
            <input  name="clave" [(ngModel)]="clave" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm">Valor</span>
            <input  name="valor" [(ngModel)]="valor" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        <button (click)="SubirHC()" class="btn btn-subir-historia">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
              </svg>
        </button>
    </div>
  </div>


    

